<form action="POST">
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <button class="btn btn-primary" type="submit">Login</button>
</form>